{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
		  <div class="float-end">
			<button type="submit" form="form-module" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
			<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
		  <h1>{{ heading_title }}</h1>
		  <ol class="breadcrumb">
			{% for breadcrumb in breadcrumbs %}
			  <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
			{% endfor %}
		  </ol>
		</div>
	</div>
    <div class="container-fluid"> {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div> {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3> </div>
            <div class="panel-body">
                <form id="form-module" action="{{ save }}" method="post" data-oc-toggle="ajax" class="form-horizontal">
                    <div class="form-group">
					
						<div class="row">
						  <div class="col-sm-4">
							<!--- API KEY  --->
							<label class="col-sm-2 control-label" for="input-name">{{ api_key_label }}</label>
							<input type="text" name="api_key" value="{{ api_key }}" placeholder="{{ api_key_label }}" id="api_key" class="form-control mt-3" /> {% if error_name %}
							<div class="text-danger">{{ error_name }}</div> {% endif %}
							
							<input type="button" name="get-categories" value="{{ load_categories_btn }}" id="get-categories" class="btn btn-primary mt-3">
							
							<input type="hidden" name="name" value="VenderImport" id="input-name" class="form-control"/>
							<input type="hidden" name="module_id" value="{{ module_id }}" id="input-module-id"/>
						  </div>

							<div id="settingsTabs" class="col-sm-8" style="display:none">
								<div class="tabs">
									<ul class="tabs__caption">
										<li class="active">{{ importSettingsTabText }}</li>
										<li>{{ cronDataTabText }}</li>
									</ul>
									<div class="tabs__content  active">
										<div class="import-parameters">
											<div class="col-sm-3 mb-3">
												<label class="cSwitch">
													<input id="clr_cat" type="checkbox" checked disabled/>
													<div class="cSwitch__text">Очистить каталог?</div>
												</label>
											</div>
											<div class="col-sm-12 mb-3">
												<label for="checkselect" class="mb-3">Выберите категории для импорта</label>
												<div class="form-group" id="checkselect"> {#
<label class="col-sm-2 control-label" for="input-product">Выберите необходимое</label>#} </div>
												<div class="col-sm-12 mt-3">
													<label for="cron-hour" class="mb-3">Час срабатывания задачи</label>
													<select class="form-control" id="cron-hour" name="cron_hour"> {% for hour in 0..23 %} {% set formattedHour = hour
															< 10 ? '0' ~ hour : hour %} {% for minute in [ '00'] %} <option value="{{ formattedHour ~ ':' ~ minute }}">{{ formattedHour ~ ':' ~ minute }}</option> {% endfor %} {% endfor %} </select>
												</div>
												<div class="row col-sm-12 my-3 justify-content-center text-center">
													<input type="button" name="make_cron_task" value="{{ create_cron_btn }}" id="cron" class="btn btn-success col-sm-6 mx-1">
													<input type="button" name="make_import" value="{{ import_btn }}" id="import" class="btn btn-primary col-sm-6 mx-1"> </div>
											</div>
										</div>
									</div>
									<div class="tabs__content">
										<table class="table table-bordered table-hover" style="margin-top:10px;">
											<thead>
											<tr>
												<th class="text-center">{{ CronCreationTime }}</th>
												<th class="text-center">{{ CronLastRunTime }}</th>
												<th class="text-center">{{ CronLastEndTime }}</th>
												<th class="text-center">{{ CronTaskKey }}</th>
												<th class="text-center">{{ CronTaskStatus }}</th>
												<th class="text-center">{{ CronTaskAction }}</th>
											</tr>
											</thead>
											<tbody id="cronTasksList">
											{% for cronTask in cronTasksList %}
											<tr id="row_job">
												<td class="text-center">{{ cronTask.creation_time }}</td>
												<td class="text-center">{{ cronTask.execution_time }}</td>
												<td class="text-center">{{ cronTask.last_end_time }}</td>
												<td class="text-center">{{ cronTask.task_code }}</td>
												<td class="text-center" >
													<label class="cSwitch" style="margin-bottom: 1em;">
													<input class="taskEnabled" type="checkbox"  {% if cronTask.is_active %} checked {% endif %}">
													<div class="cSwitch__text"></div>
													</label>

												</td>
												<td class="text-center">
													<a href="" data-toggle="tooltip" title="" class="btn btn-danger btn-sm remove-task" data-original-title="Изменить"><i class="fa fa-trash"></i></a>
												</td>
											</tr>

											{% endfor %}

											</tbody>
											<tbody>
											<tr id="job-view_1">
												<td class="text-left" colspan="9">
													<p><b>cli cron job command:</b><br>
														php -d max_execution_time=0 {{ cronTasksFile }} &gt; /dev/null 2&gt;&amp;1</p>
												</td>
											</tr>
											</tbody>
										</table>
									</div>

								</div>
							</div>
							<style>
								.tabs {
									margin: 0 0 30px;
								}
								.tabs__caption {
									display: -webkit-flex;
									display: -ms-flexbox;
									display: flex;
									-webkit-flex-wrap: wrap;
									-ms-flex-wrap: wrap;
									flex-wrap: wrap;
									list-style: none;
									position: relative;
									margin: -1px 0 0 -1px;
								}
								.tabs__caption li:last-child:before {
									content: '';
									position: absolute;
									bottom: -5px;
									left: 0;
									right: -2px;
									z-index: -1;
									height: 5px;
									background: #7DCA86;
								}
								.tabs__caption:after {
									content: '';
									display: table;
									clear: both;
								}
								.tabs__caption li {
									padding: 9px 15px;
									margin: 1px 0 0 1px;
									background: #61AF6A;
									color: #FFF;
									position: relative;
									border: solid #61AF6A;
									border-width: 2px 2px 0;
									border-radius: 5px 5px 0 0;
									text-align: center;
								}
								.tabs__caption li:not(.active) {
									cursor: pointer;
								}
								.tabs__caption li:not(.active):hover {
									background: #7DCA86;
									border-color: #7DCA86;
								}
								.tabs__caption .active {
									background: #FFF;
									color: #000;
									border-color: #7DCA86;
								}
								.tabs__caption .active:after {
									content: '';
									position: absolute;
									bottom: -5px;
									left: 0;
									right: 0;
									height: 5px;
									background: #FFF;
								}
								.tabs__content {
									display: none;
									background: #FFF;
									border: 2px solid #7DCA86;
									border-radius: 0 5px 5px 5px;
									padding: 7px 15px;
								}
								.tabs__content.active {
									display: block;
								}

							</style>
							<script>
							(function($) {
								$(function() {
									$("ul.tabs__caption").on("click", "li:not(.active)", function() {
										$(this)
										.addClass("active")
										.siblings()
										.removeClass("active")
										.closest("div.tabs")
										.find("div.tabs__content")
										.removeClass("active")
										.eq($(this).index())
										.addClass("active");
									});
								});
							})(jQuery);
							</script>
							<!-- .tabs -->
						</div>

                    </div>
                    <!--- Кнопка загрузки категорий --->
                    <div class="form-group">
					

						
						
                    </div>
					
					<!--
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="status" id="input-status" class="form-control"> {% if status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option> {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option> {% endif %} </select>
                        </div>
                    </div>-->

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>

    <script type="text/javascript">

        $('#get-categories').on('click', function(e) {

            $(this).attr("disabled",true);
            e.preventDefault();
            var url = "https://api.al-style.kz/api/";
            var key = $('#api_key').val();
            //console.log(url+'categories?access-token='+key);
           $(".panel").LoadingOverlay("show", {
                background  : "rgba(169, 169, 169, 0.5)"
            });
            $.get(url+'categories?access-token='+key, {}, function(data){
                const createTreeFromNestedSets = arr => arr
                    .slice()
                    .sort((a, b) => a.left - b.left)
                    .reduce((tree, n) => {
                        let curr = null;
                        let next = tree;

                        while (next) {
                            curr = next;
                            next = curr.children.find(c => c.left < n.left && c.right > n.right);
                        }

                        curr.children.push({ ...n, children: [] });

                        return tree;
                    }, { children: [] })
                    .children;
                const createTreeHTML = (arr, nodeTemplate) => `
            ${arr.map(n => `
                ${n.children.length ? '<fieldset>' : ''}

                ${nodeTemplate(n)}
                ${n.children.length ?  createTreeHTML(n.children, nodeTemplate) : createTreeHTML(n.children, nodeTemplate)}

                ${n.children.length ? '</fieldset>' : ''}`
                ).join('')}`;

                let catListContainer = document.createElement("div");
                let currentParentCat = 0;
                catListContainer.insertAdjacentHTML('beforeend', createTreeHTML(
                    createTreeFromNestedSets(data),
                    item => `

                ${item.level == 1 ? '<legend><input data-id="'+(item.level == 1 ? currentParentCat = item.id : "")+'"  is-parent="'+(item.level == 1 ? "1" : "1")+'" cat-name="'+item.name+'" type="checkbox" class="all_check" categories>'+item.name+'<input class="in-menu" type="checkbox">Добавить в главное меню</legend>' : '<label><input data-id="'+item.id+'" cat-name="'+item.name+'" parent-cat-id="'+currentParentCat+'" type="checkbox" class="subcat" categories>'+item.name+'</label>'}
                `
                ));
                $(".panel").LoadingOverlay("hide", true);
                $(".checkselect").remove();

                $(catListContainer).addClass("checkselect");
                $('#checkselect').prepend(catListContainer);
                $('.checkselect').checkselect();

                $('#settingsTabs').fadeIn(1000);

                $('#get-categories').attr("disabled", false);
            });
        });

        var categories = {};
		
		function processData() {
			let categories = {};
			let lastParent;

			$('input:checkbox[categories]:checked').each(function() {
				let isParent = $(this).attr('is-parent');
				let catID = $(this).attr('data-id');
				let catName = $(this).attr('cat-name');
				let parentCatID = $(this).attr('parent-cat-id');
				let addToMenu = $(this).parent().find('.in-menu').is(':checked') ? true : false;

				let current = [];
				if (isParent == 1) {
					lastParent = catID;

					current = {
						catName: catName,
						toMenu: addToMenu,
						children: []
					};
					categories[catID] = current;
				} else {
					let subcat = {
						catName: catName,
						catid: catID
					};

					categories[parentCatID]['children'].push(subcat);
				}
			});

	
			let user_token = getURLVar('user_token');
			let data = JSON.stringify(categories);
			let clear = $('#clr_cat').is(':checked') ? true : false;
			let cronTime = $('#cron-hour option:selected').text();

			return {
				data: data,
				clear: clear,
				cronTime: cronTime
			};
		}
		
		
        $('#import').on('click', function(e){
            e.preventDefault();
            
			let importData = processData();
			
            let action = ".import";
            $(".panel").LoadingOverlay("show", {
                background  : "rgba(169, 169, 169, 0.5)"
            });
			let URL = String(document.location).split('&')[0];

            $.ajax({
                url: URL+action+'&user_token='+getURLVar('user_token'),
                type: 'post',
                dataType: 'json',
                data: {
                    data : importData.data,
                    clear : importData.clear,
					cronTime : importData.cronTime
                },
                success: function(json) {
                    console.log(json['success']);
					if(json['result'] == 'success'){
						$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
					}
					else{
						$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

					}
                    $(".panel").LoadingOverlay("hide", true);

                },
                error: function(xhr, ajaxOptions, thrownError) {
					console.log(json);				
                    $(".panel").LoadingOverlay("hide", true);
                }
            });
			$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> Импорт начат и можент занть много времени, вкладку можно закрыть <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
			$(".panel").LoadingOverlay("hide", true);
        })
		
		$('#cron').on('click', function(e){
            e.preventDefault();
			let importData = processData();
			
            let action = ".CreateCronTask";
            $(".panel").LoadingOverlay("show", {
                background  : "rgba(169, 169, 169, 0.5)"
            });
			let URL = String(document.location).split('&')[0];
			$.ajax({
                url: URL+action+'&user_token='+getURLVar('user_token'),
                type: 'post',
                dataType: 'json',
                data: {
                    data : importData.data,
                    clear : importData.clear,
					cronTime : importData.cronTime
                },
                success: function(json) {
					$(".panel").LoadingOverlay("hide", true);

					getTasks();
					if(json['result'] == 'success'){
						$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
					}
					else{
						$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

					}                                    
                },
                error: function(xhr, ajaxOptions, thrownError) {
					console.log(json);
					$(".panel").LoadingOverlay("hide", true);				
                }
            });
			
		});

		$(".taskEnabled").on('click', function(e){
			e.preventDefault();
			let checkbox = $(e.target);


			let taskId = checkbox.closest('td').prev().html();
			let isEnabled = !checkbox.is(':checked');

			//console.log($(this).is(':checked'));
			let action = ".DisableCronTask";
			let URL = String(document.location).split('&')[0];
			$.ajax({
				url: URL+action+'&user_token='+getURLVar('user_token'),
				type: 'post',
				dataType: 'json',
				data: {
					taskId : taskId,
					enable: isEnabled
				},
				success: function(json) {

					checkbox.prop('checked', !isEnabled);

					if(json['result'] == 'success'){
						$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
					}
					else{
						$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

					}

				},
				error: function(xhr, ajaxOptions, thrownError) {
					console.log(json);
					$(".panel").LoadingOverlay("hide", true);
				}
			});
		})

		$(".remove-task").on('click', function(e){
			e.preventDefault();
			let button = $(this);

			let taskId = $(this).closest('td').prev().prev().html();
			let action = ".RemoveCronTask";
			let URL = String(document.location).split('&')[0];
			$.ajax({
				url: URL+action+'&user_token='+getURLVar('user_token'),
				type: 'post',
				dataType: 'json',
				data: {
					taskId : taskId
				},
				success: function(json) {
					console.log(json['success']);

					button.parent().parent().remove();
					if(json['result'] == 'success'){
						$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
					}
					else{
						$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					console.log(json);
					$(".panel").LoadingOverlay("hide", true);
				}
			});
		})

        let checkedNum = 0;
        let currentCatCheckedNum = 0;
        $("body").on('change', '.all_check', function(e) {

            var checked = $(this).parent().parent().find('.subcat');

            if ($(this).is(':checked')){
                $(checked).prop('checked', true);
            } else {
                $(checked).parent().parent().find('.subcat').prop('checked', false);
                checkedNum = $(checked).parent().parent().parent().find('input[class=subcat]:checked').length;

            }
            checkedNum = $(checked).parent().parent().parent().find('input[class=subcat]:checked').length;
            currentCatCheckedNum = $(checked).parent().parent().find('input[class=subcat]:checked').length;

            if (checkedNum) {
                $(this).parent().parent().parent().parent().find('select option:first').html('Выбрано: ' + checkedNum);
            } else {
                $(this).parent().parent().parent().parent().find('select option:first').html('Выберите из списка');
                $(this).parent().parent().find('.all_check').prop('checked', false);

            }
        });

        $("body").on('change', '.subcat', function(e) {
            let myBlock = $(this).parent().parent();
            let myBlockCheckedNum = $(myBlock).find('input[class=subcat]:checked').length;

            let checked = $(this).parent().parent().find('.subcat');
            checkedNum = $(checked).parent().parent().parent().find('input[class=subcat]:checked').length;

            if(checkedNum != 0){
                $(myBlock).find('.all_check').prop('checked', true);
                $(this).parent().parent().parent().parent().find('select option:first').html('Выбрано: ' + checkedNum);
            }
            if(myBlockCheckedNum == 0 && checkedNum == 0){
                $(myBlock).find('.all_check').prop('checked', false);
                $(this).parent().parent().parent().parent().find('select option:first').html('Выберите из списка');
            }
            if (myBlockCheckedNum == 0 && checkedNum != 0) {
                $(myBlock).find('.all_check').prop('checked', false);
                $(this).parent().parent().parent().parent().find('select option:first').html('Выбрано: ' + checkedNum);
            }

        });

        (function($) {
		
	        function setVal(target) {
                checkedNum = $(target).parent().find('input[class=subcat]:checked').length;
                if (checkedNum == 0){
                    $(target).find('select option:first').html('Выберите из списка');
                }else {
                    $(target).find('select option:first').html('Выбрано: ' + checkedNum);
                }

            }
            $.fn.checkselect = function() {
                this.wrapInner('<div class="checkselect-popup"></div>');
                this.prepend(
                    '<div class="checkselect-control">' +
                    '<select class="form-control"><option></option></select>' +
                    '<div class="checkselect-over"></div>' +
                    '</div>'
                );

                setVal(this);
                this.parent().find('.checkselect-control').on('click', function(){
                    $popup = $(this).next();
                    $('.checkselect-popup').not($popup).css('display', 'none');
                    if ($popup.is(':hidden')) {
                        $popup.css('display', 'block');
                        $(this).find('select').focus();
                    } else {
                        $popup.css('display', 'none');
                    }
                });

                $('html, body').on('click', function(e){
                    if ($(e.target).closest('.checkselect').length == 0){
                        $('.checkselect-popup').css('display', 'none');
                    }
                });
            };
        })(jQuery);

		function getTasks() {
			let action = ".GetCronTasks";
			let URL = String(document.location).split('&')[0];
			$.ajax({
				url: URL + action + '&user_token=' + getURLVar('user_token'),
				type: 'get',
				dataType: 'json',
				success: function(json) {
					let tasks = json['data'].rows; // Получаем список заданий из ответа JSON
					$('#cronTasksList').empty();
					// Проходимся по каждому заданию и создаем строку таблицы
					for (let i = 0; i < tasks.length; i++) {
						let task = tasks[i];

						let active = task.is_active == 1 ? 'checked' : '';

								let newRow = '<tr id="row_job">'+
						'<td class="text-center">' + task.creation_time + '</td>'+
								'<td class="text-center">' + task.execution_time + '</td>'+
								'<td class="text-center">' + task.task_code + '</td>'+
								'<td class="text-center" >'+
								'<label class="cSwitch" style="margin-bottom: 1em;">'+
								'<input class="taskEnabled" type="checkbox" '+ active +'>'+
						'<div class="cSwitch__text"></div>'+
								'</label></td><td class="text-center">'+
								'<a href="" data-toggle="tooltip" title="" class="btn btn-danger btn-sm remove-task" data-original-title="Изменить"><i class="fa fa-trash"></i></a></td></tr>'

						$('#cronTasksList').append(newRow); // Добавляем новую строку в таблицу
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					console.log(json);
				}
			});
		};


    </script>

    <style>

        .checkselect .checkselect-popup .in-menu{
            margin: 0 0 0 30px !important;
        }
        .checkselect {
            position: relative;
            display: inline-block;
            width: 100%;
            text-align: left;
        }
        .checkselect-control {
            position: relative;
            padding: 0 !important;
        }
        .checkselect-control select {
            position: relative;
            display: inline-block;
            width: 100%;
            margin: 0;
            padding-left: 5px;
            height: 3em;
        }
        .checkselect-over {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            cursor: pointer;
        }
        .checkselect-popup {
            display: none;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            width: 100%;
            height: auto;
            max-height: 250px;
            position: absolute;
            top: 100%;
            left: 0px;
            border: 1px solid #dadada;
            border-top: none;
            background: #fff;
            z-index: 9999;
            overflow: auto;
            user-select: none;
        }
        .checkselect label {
            position: relative;
            display: block;
            margin: 0 0 0 10px;
            padding: 4px 6px 4px 25px;
            font-weight: normal;
            font-size: 1em;
            line-height: 1.1;
            cursor: pointer;
        }
        .checkselect-popup legend input {
            position: relative;
            top: 2px;
            left: -6px !important;
            margin: 0 !important;
            padding: 0;
        }
        .checkselect-popup input {
            position: absolute;
            top: 5px;
            left: 8px;
            margin: 0 !important;
            padding: 0;
        }
        .checkselect-popup label:hover {
            background: #03a2ff;
            color: #fff;
        }
        .checkselect-popup fieldset {
            display: block;
            margin:  0;
            padding: 0;
            border: none;
        }
        .checkselect-popup fieldset input {
            left: 15px;
        }
        .checkselect-popup fieldset label {
            padding-left: 32px;
        }
        .checkselect-popup legend {
            display: block;
            margin: 0;
            padding: 5px 22px;
            font-weight: 700;
            font-size: 1em;
            line-height: 1.1;
        }

        #import, #cron{
            width: 48%;
        }

        .cSwitch input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            margin: 10px 0 0 20px;
        }
        .cSwitch{ margin: 0.7em 0}
        .cSwitch__text {
            position: relative;
            padding: 0 0 0 60px;
            cursor: pointer;
        }
        .cSwitch__text:before {
            content: '';
            position: absolute;
            top: -4px;
            left: 0;
            width: 50px;
            height: 26px;
            border-radius: 13px;
            background: #CDD1DA;
            box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
            transition: .2s;
        }
        .cSwitch__text:after {
            content: '';
            position: absolute;
            top: -2px;
            left: 2px;
            width: 22px;
            height: 22px;
            border-radius: 10px;
            background: #FFF;
            box-shadow: 0 2px 5px rgba(0,0,0,.3);
            transition: .2s;
        }
        .cSwitch input:checked + .cSwitch__text:before {
            background: #9FD468;
        }
        .cSwitch input:checked + .cSwitch__text:after {
            left: 26px;
        }
        .cSwitch input:focus + .cSwitch__text:before {
            box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
        }
    </style>




{{ footer }}